.dashoffset {
  width: 500px;
}

.line {
  fill: none;
  stroke: red;
  stroke-width: 2px;
  stroke-dasharray: 1100, 1100;
  animation: dash 5s linear infinite;
}

@keyframes dash {
  from {
    stroke-dashoffset: 1100px;
  }
  to {
    stroke-dashoffset: -1100px;
  }
}
