:root {
  --font-primary: sans-serif;
  --font-secondary: serif;
  --font-icons: 'Icons';
  
  --text-color-primary: white;
  --text-color-secondary: green;
  
  --weight-light: 300;
  --weight-regular: 400;
  --weight-medium: 500;
  --weight-semibold: 600;
  --weight-bold: 700;
}
